.App {
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
}

.watches {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 900px;
  margin-top: 100px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 650px;
}

.adding {
  color: white;
} 

.output-clocks {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  flex-wrap: wrap;
  width: 900px;
  height: auto;
}

.clock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
  width: 250px;
  height: 60px;
}

.clock p {
  font-size: 20px;
}

.clock button {
  width: 40px;
  height: 30px;
  background-color: rgb(194, 85, 85);
  -webkit-writing-mode: horizontal-tb !important;
  -webkit-appearance: button;
  border-color: rgb(175, 104, 104) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  font: 400 11px system-ui;
  color: aliceblue;
  font-weight: bold;
}

.clock button:hover {
  background-color:rgb(143, 43, 43);
}

.crud {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 900px;
  margin-top: 100px;
}

.notes-input {
  display: flex;
  flex-direction: row;
  width: 300px;
  position: absolute;
  margin-top: 100px;
}

input[type=submit] {
  position: relative;
  bottom: 0;
  color: red;
  z-index: 2;
}

textarea {
  position: absolute;
  width: 300px;
  z-index: 1;
}

.notes-output {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  position: absolute;
  top: 300px;
  width: 1200px;
  height: 800px;
  flex-wrap: wrap;
}

.note {
  width: 200px;
  height: 200px;
  border: 2px solid rgb(107, 105, 105);
  position: relative;

}

.note p {
  width: 200px;
  height: 200px;
  white-space: normal;
  word-wrap: break-word;
  padding: 10px;
}



.note button {
  position: relative;
  top: 5px;
  left: 80px;
}

.note-no {

}